/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700|Raleway:300,400");
$base-font: "Open Sans", "sans-serif";
$header-font: "Montserrat", "sans-serif";
$navbar-font: 'Raleway', "sans-serif";

// @import url("https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,900,700)");
// $base-font: "Roboto", "sans-serif";
// $header-font: "Roboto", "sans-serif";
// $navbar-font: "Roboto", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$red: #f00d58;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #ff9f1c;
$green: #2ec4b6;
$purple: #6452BD;

$facebook: #45619D;
$facebook-hover: #4568B2;
$red-hover: #d30d4e;
$orange-hover: #e38c02;
$green-hover: #03bcac;
$marine: #011627;
$nacre: #fdfffc;

//Color
$mred: #EE5F5B;
$mblue: #BCBED3;
$myellow: #FDB631;
$morange: #FAB9A0;
$mgreen: #32B796;
$mpurple: #9F88A2;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee



