// #home_banner{
//   position: relative;
//   height: 510px;
//   background-image: image_url('banner.jpg');
//     background-size: cover;
// }

@media (max-width: 994px) {
  #home_tagline {
    display: none;
}
  .filter {
    display: none;
}
}

#home_tagline {
  padding-top:100px;
 }

#home_tagline h1{
  z-index: 1000;
  position: absolute;
  left: 24%;
  top: 39%;
  text-transform: uppercase;
  font-size: 90px;
  color: white;
}
#home_tagline p{
  font-size: 30px;
  color: white;
  position: absolute;
  top: 55%;
  left: 26%;
}

#home_search_bar{
  background: rgba(0,0,0,0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

#video-home{
  margin-top: -160px;
}

.black-bg {
  background-color: black;
}

// coverr

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

// end of coverr
