.profile-container {
  padding: 20px;
  background-color: white;
}

.main-container {
  float: right;
  background-color: $gray-light;
  padding: 20px;
  width: 100%;
}

.my-bookings {
  background-color: white;
}

.my-pool-requests {
  background-color: white;
}

.img-avatar {
  border: $navbar-profile-border-width solid $navbar-profile-border-color;
  box-shadow: 0 0 2px rgb(200, 200, 200);
  margin-right: 3px;
  border-radius: $navbar-profile-radius;
}
