<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="footer">
        <div id="footer-text">
          we <i class="fa fa-heart"></i> water
        </div>
      </div>
    </div>
  </div>
</div>
