// Your footer style

.footer {
  color: #EAEAEA;
  background-color: black;
  height: 100px;
  padding: 35px;
}

#footer-text {
  font-size: 13px;
  float: right;
}

#footer-social {
  float: left;
}

.clear {
  clear: both;
}

.fa-sun-o {
  color: $red;
}
