/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
.alert {
  position: absolute;
}
.notice {
  position: absolute;
}

.white-radius-box {
  background : white;
  border-radius: 6px;
  text-align: center;
}
.img-profil-thumb {
  border: 2px solid white;
  box-shadow: 0 0 2px rgb(200, 200, 200);
  height: 36px;
  margin-right: 3px;
  border-radius: 50%;
}
.img-profil-medium {
  border: 2px solid white;
  box-shadow: 0 0 2px rgb(200, 200, 200);
  height: 100px;
  margin-right: 3px;
  border-radius: 50%;
}
.map-circle {
  height: 220px;
  width: 220px;
  border-radius:50%;
  border: 2px solid white;
  box-shadow: 0 0 2px rgb(200, 200, 200);
}

 .map-right-corner{
  top: -10%;
  left: 80%;
}

.container-fluid {
  padding: 0;
}
