/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */
.container-fb-button {
  margin: 40px auto;
}

.facebookConnect {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: $facebook;
  border-radius: 2px;
  width: 100%;
  padding: 15px;
  a {
    color: white;
  }
  &:hover {
    color: white;
    background-color: $facebook-hover;
    cursor: pointer;
  }
  & i {
    margin-right: 10px;
  }
}


.mainLoginSignup {
  color: white;
  font-size: 20px;
  text-align: center;
  background: $red;
  border-radius: 2px;
  margin: 20px 0px;
  width: 100%;
  padding: 15px;
  &:hover {
    color: white;
    background: $red-hover;
    cursor: pointer;
  }
  & a {
    color: white;
  }
  & i {
    margin-right: 10px;
  }
}



